<a href="https://colab.research.google.com/github/04-purnima/Play-Store-App-Review-Analysis/blob/main/Purnima_Rai_user_reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **USER REVIEW: contains 100 reviews for each app, most helpful first. The text in each review has been pre-processed and attributed with three new features: Sentiment (Positive, Negative or Neutral), Sentiment Polarity and Sentiment Subjectivity.**

In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
user_reviews = pd.read_csv('/content/drive/MyDrive/Almabetter Notebooks/Data/PLayStoreAnalysis/User Reviews.csv')

In [ ]:
user_reviews.shape

(64295, 5)

In [ ]:
user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [ ]:
user_reviews.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

In [ ]:
user_reviews.tail(10)

                               App  ... Sentiment_Subjectivity
64285  Houzz Interior Design Ideas  ...                    NaN
64286  Houzz Interior Design Ideas  ...                    NaN
64287  Houzz Interior Design Ideas  ...                    NaN
64288  Houzz Interior Design Ideas  ...                    NaN
64289  Houzz Interior Design Ideas  ...                    NaN
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[10 rows x 5 columns]

In [ ]:
user_reviews.describe(include='all')

                        App  ... Sentiment_Subjectivity
count                 64295  ...           37432.000000
unique                 1074  ...                    NaN
top     Angry Birds Classic  ...                    NaN
freq                    320  ...                    NaN
mean                    NaN  ...               0.492704
std                     NaN  ...               0.259949
min                     NaN  ...               0.000000
25%                     NaN  ...               0.357143
50%                     NaN  ...               0.514286
75%                     NaN  ...               0.650000
max                     NaN  ...               1.000000

[11 rows x 5 columns]

# **DATA CLEANING**

In [ ]:
user_reviews.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [ ]:
user_reviews[user_reviews['Translated_Review'].isnull()]

                               App  ... Sentiment_Subjectivity
2            10 Best Foods for You  ...                    NaN
7            10 Best Foods for You  ...                    NaN
15           10 Best Foods for You  ...                    NaN
102          10 Best Foods for You  ...                    NaN
107          10 Best Foods for You  ...                    NaN
...                            ...  ...                    ...
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[26868 rows x 5 columns]

In [ ]:
The reviews dataset contains a lot of null observations
user_reviews.dropna(how='any').shape

(37427, 5)

In [ ]:
user_reviews.dropna(how='all').shape

(37427, 5)

In [ ]:
user_reviews.tail(10)

                                  App  ... Sentiment_Subjectivity
64216  Housing-Real Estate & Property  ...               0.250000
64217  Housing-Real Estate & Property  ...               0.550000
64218  Housing-Real Estate & Property  ...               0.000000
64220  Housing-Real Estate & Property  ...               0.533333
64221  Housing-Real Estate & Property  ...               0.259470
64222  Housing-Real Estate & Property  ...               0.486667
64223  Housing-Real Estate & Property  ...               0.447222
64226  Housing-Real Estate & Property  ...               0.250000
64227  Housing-Real Estate & Property  ...               1.000000
64230  Housing-Real Estate & Property  ...               0.400000

[10 rows x 5 columns]

In [ ]:
user_reviews.isnull().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64